<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title_for(item) %></title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
  </head>
  <body<% unless @type.nil? %> class="<%= @type.to_s %>"<% end %>>
    <div class="container">
<%= yield %>
    </div>
<%= render '/footer.*' %>
  </body>
</html>
